<div class="body">
    <div class="background"></div>
    <div *ngIf="isPassed()" class="header">
        C'est passé frérot
    </div>
    <div *ngIf="!isPassed()">
        <div class="header">
            On part à Val Thorens dans
        </div>

        <div class="remaining">
            <div *ngIf="months !== 0" class="counter">
                {{months}} mois
            </div>
            <div *ngIf="days !== 0 || months !== 0" class="counter">
                {{days}} {{days < 2 ? 'jour' : 'jours'}}
            </div>
            <div *ngIf="hours !== 0 || days !== 0 || months !== 0" class="counter">
                {{hours}} {{hours < 2 ? 'heure' : 'heures'}}
            </div>
            <div *ngIf="minutes !== 0 || hours !== 0 || days !== 0 || months !== 0" class="counter">
                {{minutes}} {{minutes < 2 ? 'minute' : 'minutes'}}
            </div>
            <div class="counter">
                {{seconds}} {{seconds < 2 ? 'seconde' : 'secondes'}}
            </div>
        </div>
    </div>
</div>
